<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CollDoodle</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script type="text/javascript">

		function getRandomInt(min, max) {
		    // return Math.floor(Math.random() * (max - min + 1)) + min;
		    
		    var links = ["atom", "sea", "muscle", "pulsator", "nowhere"];
		    // var el = document.getElementById('foo');
			// el.onclick = showFoo;
		    // $.get("http://localhost:3000/" + links[Math.floor(Math.random() * (max - min + 1)) + min]);
		    // return "http://google.com"
		    // return ="location.href='http://google.com';"
		    // window.location.replace("http://localhost:3000/" + links[Math.floor(Math.random() * (max - min + 1)) + min]);

		    var randomLink = links[Math.floor(Math.random() * (max - min + 1)) + min]
		    window.location.replace("/" + randomLink);
		}

	</script>

</head>
<body>

 	<div class="container">
	 	<!-- <a href="http://localhost:300/muscle">Check</a> -->

	 	<!-- <a href="/muscle">
			<img src="http://source.codedoodl.es/soulwire/muscular-hydrostats/thumb.jpg">
	 	</a> -->

	 	<header style="margin-bottom:20px;">
			
			<div class="row">
				<h1 style="font-family:Coronetscript, cursive;">CollDoodle</h1>
				<button onclick="getRandomInt(0, 4)" type="button" class="btn btn-info btn-lg pull-right">
	      			<span class="glyphicon glyphicon-random"></span> Random
	    		</button>
    		</div>
		</header>


		<div class="row">

		  <div class="col-xs-6 col-md-3">
		    <a href="/muscle" class="thumbnail">
		      <img src="http://source.codedoodl.es/soulwire/muscular-hydrostats/thumb.jpg" alt="musclePNG">
		    </a>
		  </div>

		   <div class="col-xs-6 col-md-3">
		    <a href="/pulsator" class="thumbnail">
		      <img src="http://source.codedoodl.es/gwenvanhee/pulsator/thumb.jpg" alt="pulsator">
		    </a>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="/sea" class="thumbnail">
		      <img src="http://source.codedoodl.es/j0n/sea-something/thumb.jpg" alt="sea">
		    </a>
		  </div>

		   <div class="col-xs-6 col-md-3">
		    <a href="/atom" class="thumbnail">
		      <img src="http://source.codedoodl.es/montoyadiego/atombeat/thumb.jpg" alt="atom">
		    </a>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="/nowhere" class="thumbnail">
		      <img src="http://source.codedoodl.es/sterlingcrispin/a-particular-nowhere/thumb.jpg" alt="nowhere">
		    </a>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="/pixels" class="thumbnail">
		      <img src="http://source.codedoodl.es/stopyransky/pixeloze/thumb.jpg" alt="pixels">
		    </a>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="/glitter" class="thumbnail">
		      <img src="http://source.codedoodl.es/silviopaganini/node-garden/thumb.jpg" alt="glitter">
		    </a>
		  </div>
		  
		  <div class="col-xs-6 col-md-3">
		    <a href="/error" class="thumbnail">
		      <img src="http://source.codedoodl.es/edankwan/touch/thumb.jpg" alt="touch">
		    </a>
		  </div>

		  <div class="col-xs-6 col-md-3">
		    <a href="/sling" class="thumbnail">
		      <img src="http://source.codedoodl.es/flexi23/firewater/thumb.jpg" alt="sling">
		    </a>
		  </div>	  

		  <div class="col-xs-6 col-md-3">
		    <a href="/error" class="thumbnail">
		      <img src="http://source.codedoodl.es/naso/spike-path/thumb.jpg" alt="spike">
		    </a>
		  </div>

		</div>

		<p>Better UI coming soon...</p>
	</div>

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
