<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CollDoodle</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
	
	<header>
		<h1>CollDoodle</h1>
	</header>
	
	<!-- <iframe width="500" height="500" src="/doodles/Muscular-Hydrostats/index.html"></iframe>
 -->

 	<div class="container">
	 	<!-- <a href="http://localhost:3000/muscle">Check</a> -->

	 	<!-- <a href="http://localhost:3000/muscle">
			<img src="http://source.codedoodl.es/soulwire/muscular-hydrostats/thumb.jpg">
	 	</a> -->



		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="http://localhost:3000/muscle" class="thumbnail">
		      <img src="http://source.codedoodl.es/soulwire/muscular-hydrostats/thumb.jpg" alt="musclePNG">
		    </a>
		  </div>
		</div>
	</div>	



 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>