
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta property="og:title" content="A Particular Nowhere - Sterling Crispin - 2014"/>
        <meta property="og:url" content="http://www.sterlingcrispin.com/aparticularnowhere.html" />
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.sterlingcrispin.com/aparticularnowhere/files/aparticularnowhere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1101" />
        <meta property="og:image:height" content="719" />

        <meta property="og:description"
        content="A Particular Nowhere - Sterling Crispin - 2014 - html5/webgl" />
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:creator" content="sterlingcrispin" />
        <title id="page_title">A Particular Nowhere - Sterling Crispin - 2014</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7604907-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


</script>

        <style type="text/css">
            body {
                background:#ffffff;
                padding:0;
                margin:0;
                font-weight: bold;
                overflow:hidden;
            }
            #info,#error {
                position: absolute;
                top: 5px; width: 100%;
                padding: 0px;
                font-family: Monospace;
                font-size: 10px;
                text-align: left;
                z-index:100;
            }
            #error{
                top:40px;
                font-size:20px;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colldoodle.css') }}">

    </head>

    <body>
        <a href="/" type="button" style="position:absolute;display:inline-block;left:87%;margin-top:30px;" class="btn btn-danger btn-xlarge" role="button">Menu</a>

        <div id="info">
            A Particular Nowhere - <a href="http://www.sterlingcrispin.com/">Sterling Crispin</a> - 2014 - <a href="http://www.sterlingcrispin.com/aparticularnowhere.html">info</a> 
        </div>
        <div id="error"></div>
        <canvas id="blankcanvas"></canvas>

        <script src="files/js/three.min.js"></script>
        <script src="files/js/controls/FlyControls.js"></script>
        <script src="files/js/aparticularnowhere.js"></script>

        <script src="{{ url_for('static', filename='three.min.js') }}"></script>
        <script src="{{ url_for('static', filename='FlyControls.js') }}"></script>
        <script src="{{ url_for('static', filename='aparticularnowhere.js') }}"></script>

        <script>
        function pageLoaded(){
            var canvas;
            canvas = document.getElementById("blankcanvas");
            canvas.width =0;
            canvas.height =0;
            var experimental = false;

             try { gl = canvas.getContext("webgl"); }
                catch (x) { gl = null; }

                if (gl == null) {
                    try { gl = canvas.getContext("experimental-webgl"); experimental = true; }
                    catch (x) { gl = null; }
                }

                if (gl) {

                } else if ("WebGLRenderingContext" in window) {
                     error.innerHTML ='<h3>Attention:</h3> You are using an outdated web browser or you have WebGL disabled '+
                                    'download the latest version of <a href="http://www.chrome.com">Chrome</a> or <a href="https://www.mozilla.org/firefox/">Firefox</a> or go here <a href="http://get.webgl.org">get.webgl.org</a> to find out more.';  
                    ;
                } else {
                     error.innerHTML ='<h3>Attention:</h3> You are using an outdated web browser or you have WebGL disabled '+
                                    'download the latest version of <a href="http://www.chrome.com">Chrome</a> or <a href="https://www.mozilla.org/firefox/">Firefox</a> or go here <a href="http://get.webgl.org">get.webgl.org</a> to find out more';  
                }

            }

        window.onload = pageLoaded;
        </script>

        <script src="{{ url_for('static', filename='sound2.js') }}"></script>
        <script src="{{ url_for('static', filename='randomfunc.js') }}"></script>

        <script type="text/javascript">
            setTimeout(function(){ 
                getRandomInt(0, 7);
            }, 30000);
        </script>

    </body>
</html>
