<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; background: f0f0f0;">
<head>
	<title>sea-something | Jon Andersson</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colldoodle.css') }}">
</head>
<body style="margin: 0; padding: 0">
	<a href="/" type="button" style="position:absolute;display:inline-block;left:87%;margin-top:30px;" class="btn btn-danger btn-xlarge" role="button">Menu</a>
	<script src="main.js"></script>
	<script src="{{ url_for('static', filename='sea.js') }}"></script>
	<script src="{{ url_for('static', filename='sound2.js') }}"></script>
	<script src="{{ url_for('static', filename='randomfunc.js') }}"></script>

    <script type="text/javascript">
        setTimeout(function(){ 
            getRandomInt(0, 7);
        }, 30000);
    </script>
</body>
</html>
