<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sling</title>
    <style>
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        background: #000;
        color: #6b6b6b;
        font-family: ubuntu,helvetica,arial,sans,sans-serif;
      }
      :-webkit-full-screen canvas {
        width: 100%;
        height: 100%;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colldoodle.css') }}">
  </head>
  <body>
    <a href="/" type="button" style="position:absolute;display:inline-block;left:87%;margin-top:30px;" class="btn btn-danger btn-xlarge" role="button">Menu</a>

    <script src="{{ url_for('static', filename='sling.js') }}" defer="defer"></script>
    <script src="{{ url_for('static', filename='sound2.js') }}"></script>
    <script src="{{ url_for('static', filename='randomfunc.js') }}"></script>


    <script type="text/javascript">
        setTimeout(function(){ 
            getRandomInt(0, 7);
        }, 30000);
    </script>
  </body>
</html>