<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TOUCH with Leap Motion | Edan Kwan</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700">
        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <!-- <link rel="stylesheet" href="css/index.css"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='touch.css') }}">
        <script>
        </script>
    </head>
    <body>
        <script src="js/three.r74.dev.js"></script>
        <script src="js/index.js"></script>
        <script src="{{ url_for('static', filename='three.r74.dev.js') }}"></script>
        <script src="{{ url_for('static', filename='touch.js') }}"></script>
    </body>
</html>
